/* BUTTON STYLES */

#change-favorites{
  position: relative;
}

button:focus {
  outline:0;
}

.side-close-button {
  background-color: transparent;
  text-decoration: none;
  color: white;
  transition: all ease 0.4s;
  margin: 0;
  font-size: 1.5rem;
  float: right;
  padding: 10px 20px;
  
  &:hover {
    color: #989797;
  }
}

.round-btn {
  display: inline-block;
  border: 2px solid;
  border-radius: 3rem;
  padding: 0.5rem;
  transition: all ease 0.4s;
  font-size: 0.9rem;
  line-height: 1;
}

.clean-btn {
  background-color: transparent;
  border-color: #8a8a8a;
  border-radius: 3rem;
  color: #8a8a8a;
}

.favorite-btn {
  background-color: #fb4a4a;
  border-color: #fb4a4a;
  color: #fefefe;
  
  &:hover {
    background-color: white;
    border-color: #fb4a4a;
  }
}

.favorite-btn:hover .fa {
  color: #fb4a4a;
}

.dislike-btn {
  background-color: #4fad9f;
  border-color: #4fad9f;
  color: #fefefe;
  
  &:hover {
    border-color: #4fad9f;
    background-color: white;
  }
}

.dislike.btn:hover .fa {
  color: #4fad9f;
}


/* Review these styles and discard anything not needed */


.button {
  border: 2px solid #8a8a8a;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: #8a8a8a;
  transition: all ease 0.4s;
  margin: 0px;
  z-index: 3;
  
  &:focus {
    background-color: transparent;
  }
  
  &:hover {
    border-color: #4fad9f;
    color: #4fad9f;
    background-color: transparent;
  }
}

.button span {
  margin-left: 0.5rem;
}

.button .fa,
.button span {
  transition: all ease 0.4s;
}

.hidden-btn {
  display:none;
  border: 2px solid #FFA274;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  // position: absolute;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: #FFA274;
  transition: all ease 0.4s;
  margin: 0px 0px 0px 20px;
  z-index: 2;
}

.submit-btn {
  font-size: 1.3rem;
  font-weight: 800;
  background-color: #4fad9f;
  border: 2px solid #4fad9f;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  vertical-align: middle;
  text-align: center;
  border-radius: 3rem;
  color: #fefefe;
  transition: all ease 0.4s;
  margin: 0;
  
  &:hover {
  background-color: #fefefe;
  border-color: #4fad9f;
  color: #4fad9f;
  }
}

.submit-btn.cancel-button {
  background-color: #FFA274;
  border: 2px solid #FFA274;
}

.submit-btn.cancel-button:hover {
  color: #FFA274;
  background-color: #fefefe;
  border-color: #FFA274;
}

.submit-btn .fa,
.submit-btn span {
  color: #fefefe;
}

.submit-btn:hover .fa,
.submit-btn:hover span,
.button:hover .fa,
.button:hover span,
.button:focus .fa,
.button:focus span   {
  color: #4fad9f;
}
