.callout-link {
  max-width: 275px;
  display: flex;
  align-items: center;
  min-height: 90px;
}

.callout-link a {
  align-self: center;
  margin-left: -15px;
}

.dash.callout {
    margin: 20px;
}

.dash-close-btn {
  color: black;
  
  &:hover {
    color: #989797;
  }
}

/* TABS */

.tabs {
  text-align: center;
  padding: 20px;
}

.tabs-title {
  display: inline-block;
  float: none;
}

.tabs-title > a {
  font-size: 1rem;
  color: #8a8a8a;
}

.tabs-title > a:hover {
  color: #717171;
  font-weight: 600;
}

.tabs-title > a:focus  {
  background: #FCEA85;
  color: #8a8a8a;
  outline: none;
}

.tabs-title > a[aria-selected='true']{
  background: #FCEA85;
  color: #8a8a8a;
  outline: none;
}

.tabs-panel {
  display: none;
  padding: 1rem;
  margin-top: 14px;
  border-top: 1px solid #e6e6e6;
}

.dashboard-image {
  padding: 0;
  margin: 0;
}

.dash-close {
  text-align: center;
  margin-top: 10px;
}

/* MANAGE ACCOUNT */

.dash-info {
  text-align: right;
  color: #8a8a8a;
  padding: 15px;
}

.dash-btn a {
  color: blue;
}