.actions, .field {
  margin-top: 30px;
  margin-bottom: 30px;
}

.description{
  color: #ffffff;
}

.form-container{
  display: none;
  margin-bottom: 50px;
}

[type='radio'] + label{
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: lowercase;
}

$primary-color: #4fad9f;

input {
   &[type=radio] {
      opacity: 0;
      width: 1rem;
      margin-right: -30px;
      position: relative;

      &:checked + label:before {
         background: $primary-color;
      }

      & + label:before {
         display: inline-block;
         text-align: justify;
         line-height: 1rem;

         border: 0.0625rem solid $primary-color;
         width: 1rem;
         height: 1rem;
         margin-right: 0.5rem;

         font-size: 0.875rem;
         color: white;
         background: white;
      }
   }

   &[type=radio] {
      & + label:before {
         content: "\2713";
         border-radius: 50%;
         margin-left: 3px;
      }
   }
}

.input-group-button button{
  width: 1.7rem;
}

.input-group-button button:hover{
  font-size: 1.7rem;
}

input#max_cal.input-group-field{
  width: 75px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.input-group-field {
  text-align: center;
  flex: none;
}

.input-group-field::-webkit-inner-spin-button,
.input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.input-group-button {
  margin: 0;
  padding: 0;
  border: none;
  color: #4fad9f;
}

.radio-inputs{
  min-width: 300px;
}

.search-field{
  border: 1px rgba(44, 195, 161, 0.3) solid;
  border-radius: 3rem;
  margin-bottom: 40px;
}

.search-field:focus {
  border: 1px rgba(44, 195, 161, 1) solid;
  border-radius: 3rem;
  margin-bottom: 40px;
}

.text-input::placeholder{
  color: rgba(255,162,116, 0.5);
  padding-left: 1px;
}

.text-input, .text-input:focus {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  box-shadow: none;
  padding-left: 10px;
  font-size: 1.6rem;
  color: white;
  font-weight: 700;
  height: 2.5rem;
  margin: 0;
}

.user-heading {
  margin-bottom: 30px;
}