/* Hero Section */

.hero-section {
  position: relative;
  height: 85vh;
  margin-top: -16px;
  width: 100%;
}

.hero {
  display: flex;
  background: image_url('hero13.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  z-index: 1;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #516058, white);
    opacity: .2;
  }
}

.hero-column {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin-bottom: 40px;
}

/* Search Box */

.search-box {
  text-align: center;
  background-color: rgba(255,255,255, 0.5);
  padding: 40px 16px;
  color: black;
}

.search-title {
  margin-bottom: 0;
  
  @media only screen and (max-width: 400px) {
    font-size: 34px;
  }
}

.search-filter-results {
  margin-bottom: 20px;
}

.filter-results-text {
  margin-left: 6px;
  font-size: 14px;
}

.filters {
  margin-right: 10px;
}

.fa-filter:before {
  content: "\f0b0";
  font-size: 14px;
}

/* Search Input */

.search-box-field {
  border-radius: 3rem;
  margin: 2px 0 30px 0;
  background: rgba(0,0,0,0.2);
}

input#q.text-input {
  &::placeholder {
    color: rgba(0,0,0, 0.4);
  }

  &::-ms-input-placeholder {
    color: rgba(0,0,0, 0.4);
  }
}

input#q.text-input, 
input#q.text-input:focus {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  box-shadow: none;
  padding-left: 11px;
  padding-bottom: 11px;
  font-size: 1.4rem;
  color: white;
  font-weight: 600;
  margin: 0;
}

/* Search Filter Box */

#searchFilters {
  display: none;
  background: lavender;
  opacity: 0.7;
  padding: 20px;
  margin-bottom: 20px;
  
  @media only screen and (max-width: 400px) {
    opacity: 0.85;
  }
}

.search-box .search-description,
.search-box .radio-label,
.search-box .input-group-button .cal-btn {
  color: black;
}

.search-description {
  font-weight: 700;
}

/* Radio Inputs */

.radio-inputs {
  min-width: 300px;
}

input {
  &[type=radio] {
    opacity: 0;
    width: 1rem;
    margin-right: -30px;
    position: relative;

    &:checked + label:before {
       background: #4fad9f;
    }
    
    & + label {
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: lowercase;
    }

    & + label:before {
      content: "\2713";
      border-radius: 50%;
      display: inline-block;
      line-height: 1rem;
      border: 0.0625rem solid #4fad9f;
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
      font-size: 0.8rem;
      color: white;
      background: white;
    }
  }
}

/* Calories Input */

.input-group {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0.3rem 0;
}

#max_cal.input-group-field {
  text-align: center;
  flex: none;
  width: 75px;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  box-shadow: none;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 600;
}

.input-group-field::-webkit-inner-spin-button,
.input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.cal-btn:hover{
  font-size: 1.7rem;
}
