.top-bar, .top-bar ul {
  background: #fff;
}

.title-bar {
  background: #ffffff;
  color: #000000;
  height: 50px;
}

.menu-icon::after {
  /* the block itself, the first line */
  background: #000000;
  /* middle and bottom */
  box-shadow: 0 7px 0 #000000, 0 14px 0 #000000;
  /* respect WebKit */
  -webkit-box-shadow: 0 7px 0 #000000, 0 14px 0 #000000;
}

/* Side Bar */

.position-left {
  height: 80%;
  margin-top: 50px;
}

.off-canvas {
  background: darkslategrey;
}

.close-button {
  color: #ffffff;
  
  &:hover, &:focus {
    color: #ffffff;
  }
}

.menu.vertical a {
  color: #ffffff;
}

.menu.vertical {
  margin-top: 3rem;
}
