<div class="title-bar">
  <div class="title-bar-left">
    <button class="menu-icon" type="button" data-open="offCanvas"></button>
    <span class="title-bar-title"><%= link_to image_tag('vegissimo.png'), root_path, class: "veg-logo" %></span>
  </div>
</div>